rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isVerifiedUser() {
      return request.auth != null && request.auth.token.email_verified == true;
    }
    function isModerator() {
      return request.auth != null && request.auth.token.moderator == true;
    }

    match /uploads/{userId}/{allPaths=**} {
      allow read: if isModerator() || (request.auth != null && request.auth.uid == userId);
      allow write: if isVerifiedUser() && request.auth.uid == userId;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
